<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<% if(locals.error){ %>
  <div style="color: red; margin-bottom: 1rem;">
      Incorrect Password
      <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a> 
  </div>
<% } %>
<body>
    <!-- When we do not specify action we are directed to exact same page we are on -->
    <form method="post" 
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 1rem; padding: 1rem; border: 1px solid #ccc; border-radius: 0.5rem;">
        <div>
          <label for="password" style="font-weight: bold;">Password:</label>
          <input type="password" id="password" name="password" required style="padding: 0.5rem; border: 1px solid #ccc; border-radius: 0.25rem;">
        </div>
        <div>
          <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 0.5rem 1rem; border-radius: 0.25rem; cursor: pointer;">Download</button>
        </div>
      </form>
</body>
</html>